fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
httpx
python-multipart
pydantic
pydantic-settings
pydantic-extra-types
python-dotenv
python-jose
passlib
pyotp
qrcode
email-validator
orjson
sqlmodel
Jinja2
rich
pytest
ldap3